{% extends "base.html" %}

{% block home %}
<body>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Click&Type</h1>
      <p class="fs-5 text-body-secondary">Наш сайт спеціалізується на продажу високоякісних клавіатур, мишок та навушників для професіоналів і геймерів. Ми пропонуємо широкий вибір продукції від провідних брендів, щоб задовольнити будь-які потреби — від ергономічних і безшумних моделей до продуктивних ігрових девайсів. Легкий пошук, вигідні ціни та швидка доставка роблять покупки зручними та приємними. Завітайте до нас, щоб підібрати ідеальне обладнання для вашого комфорту та ефективності!</p>
    </div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <img src="https://content1.rozetka.com.ua/goods/images/big/455878019.jpg" class="img-fluid" style="height: 200px; object-fit: cover;">
      </div>
      <div class="card-body">
        <a href="/keyboard">
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Клавіатури</button>
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <img src="https://ajazzstore.com/cdn/shop/products/9_7ee6a6da-f85c-4897-b7e0-f5b0f87e7c29.jpg?v=1700114485" class="img-fluid" style="height: 200px; object-fit: cover;">
      </div>
      <div class="card-body">
        <a href="/game/RedDeadRedemption2">
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Мишки</button>
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <img src="https://www.maxgaming.com/bilder/artiklar/29834.jpg?m=1706686328" class="img-fluid" style="height: 200px; object-fit: cover;">
      </div>
      <div class="card-body">
        <a href="/game/RedDeadRedemption2">
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Навушники</button>
        </a>
      </div>
    </div>
  </div>
</div>
  </body>
{% endblock %}

