{% extends "base.html" %}

{% block keyboadr %}
<body>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <img src="https://ae04.alicdn.com/kf/Sa0cb46b47a964318b9d1a8d2784e7b4a8.jpg_640x640.jpg" class="img-fluid product-image">
        <h4 class="my-0 fw-normal">AJAZZ AK 820</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">1899<small class="text-body-secondary fw-light">/грн</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Тип 75%</li>
          <li>PBT Пластик</li>
          <li>Дротове підключення</li>
          <li>Без цифорового екранчику</li>
        </ul>
        <div class="card-body">
          <a href="/game/GrandTheftAuto5">
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купити</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <img src="https://ae04.alicdn.com/kf/Sc7645e23a61b415d8ef72afe99225d1ex.jpg_640x640.jpg" class="img-fluid product-image">
        <h4 class="my-0 fw-normal">AJAZZ AK 820 pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">2499<small class="text-body-secondary fw-light">/грн</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Тип 75%</li>
          <li>PBT Пластик</li>
          <li>Дротове підключення, Bluetooth, радіоканал</li>
          <li>Цифровий екранчик</li>
        </ul>
        <div class="card-body">
          <a href="/game/GrandTheftAuto5">
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Купити</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}
